cd {{ dir_ex }} && \
wget https://github.com/prometheus-community/postgres_exporter/releases/download/v{{ postgres_exporter_version }}/postgres_exporter-{{ postgres_exporter_version }}.linux-amd64.tar.gz && \
tar -xvf postgres_exporter-{{ postgres_exporter_version }}.linux-amd64.tar.gz && \
cp postgres_exporter-{{ postgres_exporter_version }}.linux-amd64/postgres_exporter /usr/local/bin 

