[Unit]
Description=MongoDB Exporter
[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/mongodb_exporter \
        --mongodb.uri="mongodb://monitor:vtvlive2024@{% for host in play_hosts %}{{ hostvars[host].ansible_host }}:27017{% if not loop.last %},{% endif %}{% endfor %}/?authSource=admin&replicaSet=rs0" \
        --collect-all \
        --compatible-mode
[Install]
WantedBy=multi-user.target
