wget https://repo.percona.com/apt/percona-release_latest.$(lsb_release -sc)_all.deb && \
sudo dpkg -i percona-release_latest.$(lsb_release -sc)_all.deb && \
sudo apt update -y && \
sudo percona-release setup {{ percona_release_channel }} && \
sudo apt install {{ percona_postgresql_packages | join(' ') }} -y && \
sudo apt install python3-pip python3-dev binutils -y && \
sudo apt install percona-patroni \
etcd etcd-server etcd-client \
percona-pgbackrest -y && \
systemctl stop etcd && \
systemctl stop patroni && \
systemctl stop postgresql && \
systemctl disable etcd && \
systemctl disable patroni && \
systemctl disable postgresql && \
rm -rf {{ postgresql_data_dir }}
