export DEBIAN_FRONTEND=noninteractive
apt update -y && \
apt install curl -y && \
curl -O https://repo.percona.com/apt/percona-release_latest.generic_all.deb && \
apt install -y gnupg2 lsb-release ./percona-release_latest.generic_all.deb && \
apt update -y && \
yes | percona-release setup pdps-8.0.28 && \
apt install percona-server-server -y && \
apt install percona-xtrabackup-80 -y && \
apt install percona-orchestrator -y