yum install gnupg2 curl -y && \
yum -y install epel-release && \
yum install -y https://repo.percona.com/yum/percona-release-latest.noarch.rpm && \
yes | percona-release setup pdps-8.0.28 && \
dnf module disable mysql -y && \
dnf clean all && \
dnf makecache && \
yum install percona-server-server -y && \
yum install percona-xtrabackup-80 -y && \
yum install percona-orchestrator -y