#####################
#Replication + binlog settings
#####################
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
server-id={{ groups['mysql'].index(inventory_hostname) + 1 }}
bind-address= 0.0.0.0
mysqlx-bind-address=0.0.0.0

auto-increment-increment=1
auto-increment-offset=1

log-bin=/var/lib/mysql/mysql-bin
log-bin-index=binlog.index
binlog-checksum=NONE
binlog-format=ROW
binlog-row-image=FULL
log-slave-updates=1
binlog-transaction-dependency-tracking=WRITESET_SESSION

enforce-gtid-consistency=TRUE
gtid-mode=ON

master-info-file=master.info
master-info-repository=TABLE
relay_log_info_repository=TABLE
relay-log=/var/lib/mysql/relay-log

sync-binlog=1

### SLAVE SECTION
skip-slave-start
slave-parallel-type=LOGICAL_CLOCK
slave-parallel-workers=4
slave-preserve-commit-order=1