SET GLOBAL super_read_only=OFF;
SET SQL_LOG_BIN=0;
 CREATE USER "{{ replica_user }}"@'%' IDENTIFIED WITH mysql_native_password BY "{{ replica_password }}";  
 GRANT REPLICATION SLAVE ON *.* TO "{{ replica_user }}"@'%';
 FLUSH PRIVILEGES;
 SET SQL_LOG_BIN=1;

CHANGE MASTER TO MASTER_USER="{{ replica_user }}", MASTER_PASSWORD="{{ replica_password }}" FOR CHANNEL 'group_replication_recovery';
SET GLOBAL super_read_only=ON;
